#search{
    width: 1200px;
    height: 1000px;
    background-color: rgb(241, 173, 173);  
  }

button{
  margin-left: 450px;
}

#postwrite_btn{
  text-decoration: none;
  color: black;
}