#header>#logo{
    padding-top: 25px;
    box-sizing: border-box;
}

#gnb{
    float: right;
    position: relative;
    top: 20px;
    right: 20px;
}
#gnb>li{
    float: left;
}
#gnb>li>a{
    display: block; /*크기 지정을 위해 넣기!!*/
    width: 150px;
    height: 50px;
    background-color: #ffffff;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
}

#gnb li a:hover{
    background-color: #222328;
    color: #ffffff;
}

#lnb>li>a{
    display: block;
    width: 150px;
    height: 50px;
    background-color: #ffffff;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
}

#lnb{
    display: none;
}