@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

#wrap{
    width: 1200px;
    height: 700px;
    background-color: aliceblue;
}

#header{
    width: 1200px;
    height: 100px;
    background-color: aliceblue;
}

#header>#logo{
    width: 200px;
    height: 100px;
    background-color: rgb(163, 240, 214);
    float: left;
}

#header>#menu{
    width: 1000px;
    height: 100px;
    background-color: rgb(98, 251, 200);
    float: left;
}

#header>#menu>#gnb{
    width: 600px;
    height: 70px;
    background-color: rgb(200, 240, 227);
    margin-top: 15px;
    margin-left: 400px;
}

#header>#menu>#gnb>li{
    float: left;
}

#header>#menu>#gnb>li>a{
    display: block;
    width: 150px;
    height: 70px;
    background-color: rgb(200, 240, 227);
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
}

#slide{
    width: 1200px;
    height: 300px;
    background-color: aliceblue;
}

#contents{
    width: 1200px;
    height: 200px;
    background-color: aliceblue;
}

#contents>#cont1{
    width: 420px;
    height: 200px;
    background-color: #fbfb76;
    float: left;
}

#contents>#cont2{
    width: 420px;
    height: 200px;
    background-color: yellow;
    float: left;
}

#contents>#cont3{
    width: 360px;
    height: 200px;
    background-color: rgb(192, 192, 5);
    float: left;
}

#footer{
    width: 1200px;
    height: 100px;
    background-color: aliceblue;
}

#footer>#logo{
    width: 200px;
    height: 100px;
    background-color: rgb(253, 177, 149);
    float: left;
}

#footer>#copyright{
    width: 800px;
    height: 100px;
    background-color: rgb(254, 144, 104);
    float: left;
}

#footer>#sns{
    width: 200px;
    height: 100px;
    background-color: coral;
    float: left;
}