@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #222328
}
#wrap{
    width: 1200px;
    height: 700px;
    background-color: #ffffff;
    margin: 0 auto;
}
#header{
    width: 1200px;
    height: 100px;
    background-color: #ffffff;
}
#header>#logo{
    width: 200px;
    height: 100px;
    background-color: #ffffff;
    float: left;
}
#header>#menu{
    width: 1000px;
    height: 100px;
    background-color: #ffffff;
    float: left;
}
#slide{
    width: 1200px;
    height: 300px;
    background-color: #ffffff;
}
#contents{
    width: 1200px;
    height: 200px;
    background-color: #ffffff;
}
#contents>#cont1{
    width: 480px;
    height: 200px;
    background-color: #ffffff;
    float: left;
}
#contents>#cont2{
    width: 360px;
    height: 200px;
    background-color: #ffffff;
    float: left;
}
#contents>#cont3{
    width: 360px;
    height: 200px;
    background-color: #ffffff;
    float: left;
}
#footer{
    width: 1200px;
    height: 100px;
    background-color: #ffffff;
}
#footer>#logo{
    width: 200px;
    height: 100px;
    background-color: #ffffff;
    float: left;
}
#footer>#copyright{
    width: 800px;
    height: 100px;
    background-color: #ffffff;
    float: left;
}
#footer>#sns{
    width: 200px;
    height: 100px;
    background-color: #ffffff;
    float: left;
}