#pagination{
    width: 900px;
    height: 100px;
    margin: 0 auto;
    background-color: goldenrod;
}

.page{
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    background-color: lightyellow;
    text-align: center;
    border: solid 1px black;
    padding-top: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

#pagination>div:nth-child(3){
    padding-left: 300px;
    box-sizing: border-box;
}