*{
  margin:0;
  padding:0;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
#App{
  width:1000px;
  height:500px;
  background-color: aliceblue;
  margin:100px auto;
  padding-top:50px;
  box-sizing: border-box;
}
h1{
  background-color:skyblue;
  width:90%;
  text-align: center;
  margin:0 auto;
}

button{
  width:250px;
  height:50px;
  background-color: pink;
  display:block;
  margin:10px;
  position: relative;
  left:40px;
}