#pagination{
    width: 900px;
    height: 100px;
    background-color: springgreen;
}

.page{
    display:inline-block;
    width:35px;
    height:35px;
    border:1px solid black;
    margin:5px;
    text-align: center;
    padding-top:5px;
    box-sizing: border-box;
    background-color: darkgray;
    cursor: pointer;
}